.main {
  margin: 15px;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 577px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main .info {
  min-width: 500px;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main .map {
  min-width: 803px;
  min-height: inherit;
}
